language: cpp
addons:
  apt:
    packages:
    - cmake
    sources:
    - kalakris-cmake
matrix:
  include:
  - os: osx
    compiler: clang
    env: ITK_VERSION=v5.2.0
  - os: linux
    compiler: gcc
    env: ITK_VERSION=v5.2.0
cache:
- directories:
  - $HOME/itk-v5.2.0-build
  - $HOME/itk-v5.2.0
before_script:
- export NUM_THREADS=4
- export ITK_SOURCE_DIR=$HOME/itk-${ITK_VERSION}
- export ITK_BUILD_DIR=${ITK_SOURCE_DIR}-build
- if ! test -e ${ITK_SOURCE_DIR}/CMakeLists.txt; then rm -fr $ITK_SOURCE_DIR; fi
- if ! test -d ${ITK_SOURCE_DIR}; then git clone --branch ${ITK_VERSION} https://github.com/InsightSoftwareConsortium/ITK.git
  ${ITK_SOURCE_DIR}; fi
- if ! test -d ${ITK_BUILD_DIR}; then mkdir ${ITK_BUILD_DIR}; fi
- cd ${ITK_BUILD_DIR}
- cmake ${ITK_SOURCE_DIR} -DCMAKE_BUILD_TYPE=Release -DBUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF
  -DModule_ITKReview=ON
- make --jobs=$NUM_THREADS --keep-going
- cd -
- cd ..
- mkdir build
- cd build
- cmake ../PETPVC -DCMAKE_BUILD_TYPE=Release
script: cmake --build . && ctest && cpack
deploy:
  - provider: releases
    api_key:
      secure: "LWWJLSgd88a0DEc7FycHCVvZeNLMZd/2ETnsVchdcweFbYnBEMFHlVfOXaKihD9g5GNGDaHrOKsmV4R9741Zww5k9VAUI5288bJFGfibeyi+ewKm41LwTaaZMPVDhvhMcu7BAFm19EafeCgC1ft0BaBc9Ri8dvXCE8LKdUWWdPBD4S8EKN79vJfxGwXUZ/fGTbWtkHwwwYVw9Vcm038/A3vzqVIMhdYJzXYpzXiYHqoCGO4rpA4gS4oX9/EgjR/KkQNvPhOSVTWZw5gjLnVqRvWuUDqEyIfNN256SSrH6KjIParuOjidDkBgpxV7XP+haQpBAZjtoBLorkF04cs0m057KIXr6iPZhj0yorCFfq0XSLRc4mci46+bc683eVEMEsa0Ba2SrPNggIh0IMHfhOuPM6XcMxjvmj2AH2C/uXoHEf/F8shoKPeF5R57QtNFnIFAR/L1z76qVGq8gkSEHOBckNW39PJbkMsVyT0bVCoZJNZRskZoCZKb6QyMULFSojZrveUD84IR3bASeXSqAcfrmFI5kl55tsREHF8i24z+iHXf01aTvI79iv0laVdNZP54zgpKsf7PVwwQ+6vFZIMRs5FUm4JnADmofP32p7nAp5nmDTHLNm6u5MFAkWuWbRizC8zj+BPMhA8emRpVcO3u0pFCD9JgZKMVRK06DY8="
    file: "*.tar.gz"
    file_glob: true
    draft: true
    on:
      tags: true
      all_branches: true
